body {
    background-color: aqua;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.lista-de-contatos-wrapper {
    width: 50vw;
}

.lista-de-contatos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
    background-color: white;
    overflow: auto;
    min-width: 80%;
    max-height: 300px;
    padding: 10px;
    box-sizing: border-box;
}

.lista-de-contatos hr {
    width: 100%;
    border-left: 0;
    border-right: 0;
}

.content .titulo {
    text-align: center;
}

.lista-de-contatos li {
    list-style: none;
    display: flex;
    gap: 20px;
}

.foto-do-usuario {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    top: 10px;
    left: 4px;
}

.titulo, .nome-do-usuario {
    opacity: 0.8;
}

.dados-do-usuario {
    line-height: 0.25;
}

.nome-do-usuario {
    opacity: 0.9;
    font-size: 24px;
}

.email-do-usuario {
    font-size: 14px;
    color: lightgray;
}