body {
    background-color: aqua;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    height: 100vh;
}   

.lista-de-contatos-wrapper {
    width: 60%;
    height: calc(100% - 71px);
    margin: auto;
}

.lista-de-contatos {
    display: grid;
    width: 100%;
    height: calc(100% - 49px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.lista-de-contatos-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
}

.content .titulo {
    text-align: center;
}

.foto-do-usuario {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    top: 10px;
    left: 4px;
}

.titulo, .nome-do-usuario {
    opacity: 0.8;
}

.dados-do-usuario {
    line-height: 0.25;
    text-align: center;
}

.nome-do-usuario {
    opacity: 0.9;
    font-size: 24px;
}

.email-do-usuario {
    font-size: 14px;
    color: lightgray;
}

.lista-de-contatos-item .background {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-footer {
    background-color: lightgray;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: space-around;
}